.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-50);
  background-color: var(--color-grey-800);
  padding: 0 var(--size-6);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  position: fixed;
  height: auto;
  min-height: 5rem;
  bottom: var(--size-4);
  width: 90%;
  max-width: 40rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  text-align: center;
  font-size: var(--size-5);
  z-index: 200;
  animation: slideIn 0.3s ease forwards;
}

.notification h2 {
  font-size: var(--size-6);
  margin: var(--size-2) 0;
  font-weight: bold;
}

.notification p {
  margin: var(--size-1) 0 var(--size-2) 0;
}

.success {
  background-color: var(--color-success-500);
  color: var(--color-grey-900);
}

.error {
  background-color: var(--color-error-500);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.form input,
.form textarea {
  font: inherit;
  padding: var(--size-2);
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--color-grey-700);
  background-color: var(--color-grey-800);
  color: var(--color-grey-50);
  transition: all 0.3s ease;
  resize: none;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--color-primary-500);
  box-shadow: 0 0 8px var(--color-primary-500);
}

.form input:invalid:focus,
.form textarea:invalid:focus {
  border-color: var(--color-error-500);
  box-shadow: 0 0 8px var(--color-error-500);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-grey-800) inset !important;
  -webkit-text-fill-color: var(--color-grey-50) !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 768px) {
  .notification {
    bottom: var(--size-6);
    font-size: var(--size-6);
  }
}
