.latest {
  width: 100%;
  padding: var(--size-16) 0;
  background: linear-gradient(
    180deg,
    var(--color-bg-hero-start),
    var(--color-bg-hero-end)
  );
}

.inner {
  width: 90%;
  max-width: 80rem;
  margin: auto;
}

.latest h2 {
  font-size: var(--size-8);
  text-align: center;
  margin-bottom: var(--size-8);
  color: var(--color-heading);
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-16);
  }
}
