.contact {
  margin: var(--size-8) auto;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    var(--color-bg-hero-start),
    var(--color-bg-hero-end)
  );
  width: 90%;
  max-width: 50rem;
  padding: var(--size-6);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  font-size: var(--size-6);
  color: var(--color-grey-50);
}

.contact h1 {
  font-size: var(--size-8);
  margin-bottom: var(--size-6);
  text-align: center;
  letter-spacing: 0.03em;
}

.form label {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: var(--size-2) 0 var(--size-1) 0;
  color: var(--color-grey-50);
}

.form input,
.form textarea {
  font: inherit;
  padding: var(--size-2);
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--color-grey-700);
  background-color: var(--color-grey-800);
  color: var(--color-grey-50);
  transition: all 0.3s ease;
  resize: none;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--color-primary-500);
  box-shadow: 0 0 8px var(--color-primary-500);
}

.controls {
  display: flex;
  gap: var(--size-4);
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 12rem;
}

.actions {
  margin-top: var(--size-4);
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--color-primary-700);
  border: 1px solid var(--color-primary-700);
  padding: var(--size-3) var(--size-6);
  border-radius: 8px;
  color: var(--color-primary-50);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .contact h1 {
    font-size: var(--size-16);
  }

  .actions {
    text-align: right;
  }
}
